body {
    background-color: blue;
}
.body {
    position: absolute;
    margin: 11px 0px 0px 50px;
}

.editMode i {
    font-family: FontAwesome;
    position: absolute;
    top: 25px;
    left: 15px;
    font-size: 18px;
    cursor: pointer;
    z-index: 5;
}
.editPanel {
    position: absolute;
    height: 100%;
    width: 18%;
    background-color: pink;
    left: -19%;
    z-index: 4;
}
.editPanel .editBody {
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

.editPanel .title {
    font-size: 24px;
    margin: 15px 0 0 21%;
}
.tile {
    display: inline-block;
    height: 350px;
    width: 300px;
    background-color: white;
    margin: 10px;
    vertical-align: top;
}
.tile.sort {
    cursor: grab;
    cursor: -webkit-grab;
}
.tile.sort.mousedown {
    cursor: -webkit-grabbing;
    cursor: grabbing;
    cursor: -moz-grabbing;
}
.tile .top {
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 100%;
    z-index: 10;
}
.tile .top i {
    position: absolute;
    float: right;
    cursor: pointer;
    top: 5px;
    right: 5px;
}
.tile .back {
    display: none;
    margin-top: 25%;
}
.tile .back .buttonBar {
    position: relative;
    width: 100%;
}



/*WEATHER STYLES*/
.tile .weather .front .top {
    height: 30%;
    width: 100%;
    background-color: lightgrey;
    z-index: 2;
}
.tile .weather .front .bottom {
    height: 70%;
    width: 100%;
    background-color: aquamarine;
}
.tile .weather .front .bottom .left {
    height: 100%;
    width: 50%;
    float: left;
    display: inline-block;
}
.tile .temp {
    font-size: 45px;
    width: auto;
    margin-top: 40%;
}
.tile .low {

}
.tile .high {

}
.tile .weather .front .bottom .right {
    height: 100%;
    width: 50%;
    float: right;
    display: inline-block;
}
.tile .weather .location {
    font: 24px Arial;
    margin: 10% 0 0 3%;
}
.tile .location, .tile .conditions {
    width: 50%;
    display: inline-block;
    float: left;
}
.tile .conditions {
    text-transform: capitalize;
    font-size: 14px;
    margin-left: 3%;
}
.tile .front .top img {
    /*condition image*/
    display: inline-block;
    position: fixed;
    height: 115px;
    width: 115px;
}
/*END WEATHER STYLES*/


/*STOCK STYLES*/
.tile .stock {
}
.tile .back {
    width: auto;
}
.tile .back .content {
    position: absolute;
}
.tile .stock input {
    width: 100%;
    margin-left: 5%;
}
/*END STOCK STYLES*/